@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    height: 400px;
    
}
.top-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-header{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    align-items: center;

    
}
.bottom-header img{
    width: 475px;
    height: 200px;
     
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color:#F9FAF8;
    margin-right: 200px;
}
    

.links{
    font-size: 18px;
    display: flex;
    gap: 16px;
    
}
.hero-main{
    width: 400px;
    
}
.hero-main h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    
}

.hero-main p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.random-info{
    height: 350px;
}
.random-info .title{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.random-info .images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
ul{
    list-style-type: none;
     
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.sign-up{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 125px ;
    height: 50px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color:#E5E7EB ;
    margin-top: 5px;
}
.quote-section{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
   
    
}
    
.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
    width: 50%;

}
.author{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.container {
    height: 100px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding: 10px 15px;
    gap: 10px;
 
}

.text .title{
    font-weight: 900;
   
}

.footer{
    height: 100px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}



