@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    height: 400px;
}
.top-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-header{
    display: flex;
    margin-bottom: auto;
    justify-content: space-around;
    
}
.bottom-header img{
     width: 300px;
     height: 200px;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    margin-right: 300px;
}
    

.links{
    font-size: 18px;
    display: flex;
    gap: 16px;
    
}
.hero-main h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.hero-main p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.random-info .title{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}
ul{
    list-style-type: none
     
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.sign-up{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px;
}

.cta{
    background-color:#3882F6;;
}
